<div class="item" ng-class="{done: $ctrl.data.done, checked: $ctrl.data.checked}">
    <div class="item__check">
        <lx-checkbox ng-model="$ctrl.data.checked" ng-disabled="$ctrl.data.done" ng-hide="$ctrl.data.done" ng-change="$ctrl.toggleItem()" lx-color="blue">{{$ctrl.data.time | date}}</lx-checkbox>
        <lx-button lx-color="blue" lx-type="flat" ng-click="$ctrl.unDone()" lx-size="xs" ng-show="$ctrl.data.done">
            <i class="mdi mdi-arrow-left"></i> UNDONE
        </lx-button>
    </div>
    <div class="item__note">{{$ctrl.data.note}}</div>
    <div class="item__money">
        <span>{{$ctrl.data.money | currency}}</span>
    </div>
    <div class="item__sign">
        <i class="icon mdi mdi-plus icon--xs icon--{{$ctrl.data.done ? 'grey' : 'green'}} icon--circled" ng-if="$ctrl.data.money >= 0"></i>
        <i class="icon mdi mdi-minus icon--xs icon--{{$ctrl.data.done ? 'grey' : 'red'}} icon--circled" ng-if="$ctrl.data.money < 0"></i>
    </div>
</div>